.col-7{
    margin-top: 10px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    margin-right: 10px;
}
table, th{
    border:1px solid whitesmoke;
  }
table{
 margin-left: auto;
  margin-right: auto;
}
table{
    width: 100%;
    margin-top: 10px;
    background: linear-gradient(to top, rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}
p{
    color: aliceblue;
    margin: 5px;
    align-self: center;
}
.btn{
    margin: 5px;
}
label{
    color: aliceblue;
    margin-left: 3%;
}
.btnn{
    background: orangered;
}
.action{
    width: 80px;
}